/* Nav.css */

:root {
  --navbar-height: 60px; /* Explicitly setting the height */
  --navbar-background-color: #06c830;
  --navbar-brand-color: #e1f5fe;
  --navbar-link-color: #e1f5fe;
  --navbar-link-hover-color: #a7ffeb;
  --navbar-brand-hover-color: #a7ffeb;
}

.navbar {
  height: var(--navbar-height); /* Using the height from root variables */
  background-color: var(--navbar-background-color);
  border-bottom: 1px solid #999;
  z-index: 1000; /* Ensure navbar stays on top */
  position: relative; /* Needed for z-index to work */
}

#title {
  color: white;
}
#subtitle {
  color: rgb(0, 0, 0);
}

.white-title {
  color: white;
}

.no-blue-underline {
  text-decoration: none;
  color:white;
  margin-right: 50px;
}

.no-blue-underline:hover {
  text-decoration: none;
  color:white;
  margin-right: 50px;
}


/* .navbar-brand:hover {
    color: var(--navbar-brand-hover-color);
} */

.nav-link {
  /* color: var(--navbar-link-color); */
  margin-right: 30px;
}
/*
.nav-link:hover {
    color: var(--navbar-link-hover-color);
} */

/* .navbar-nav {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    list-style: none;
} */
